application_files/datatype/%7Bhttp%3A%2F%2Fcilin03.appiancorp.com%3A8080%2Fsuite%2Ftypes%2F%7DDecisionResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  targetNamespace="http://cilin03.appiancorp.com:8080/suite/types/"
  xmlns:tns="http://cilin03.appiancorp.com:8080/suite/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="DecisionResult">
    <xsd:sequence>
      <xsd:element name="decision" nillable="true" type="xsd:string"/>
      <xsd:element name="decisionMaker" nillable="true" type="xsd:string"/>
      <xsd:element name="comment" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
