application_files/datatype/%7Bhttp%3A%2F%2Fwww.appian.com%2Ftech%2Ftest%2FDatatypeModelStoreTest%7DPersonType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  targetNamespace="http://www.appian.com/tech/test/DatatypeModelStoreTest"
  xmlns:tns="http://www.appian.com/tech/test/DatatypeModelStoreTest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="PersonType">
    <xsd:sequence>
      <xsd:element name="FirstName" type="xsd:string"/>
      <xsd:element name="LastName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
