application_files/datatype/%7Bhttp%3A%2F%2Fwww.appian.com%2Ftech%2Ftest%7DPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.appian.com/tech/test"
  xmlns:tns="http://www.appian.com/tech/test" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Person">
    <xsd:sequence>
      <xsd:element form="qualified" name="firstName" type="xsd:string"/>
      <xsd:element form="qualified" name="lastName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
