application_files/datatype/%7Bhttp%3A%2F%2Ftechwsdalberto.appiancorp.com%3A8080%2Fstable%2Ftypes%2F%7DnftJUA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  targetNamespace="http://techwsdalberto.appiancorp.com:8080/stable/types/"
  xmlns:tns="http://techwsdalberto.appiancorp.com:8080/stable/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="nftJUA">
    <xsd:sequence>
      <xsd:element name="endDate" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="messageIndex" nillable="true" type="xsd:int"/>
      <xsd:element name="numberOfMessages" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
