application_files/datatype/%7Bhttps%3A%2F%2Fgwt-grid2.appianci.net%2Fsuite%2Ftypes%2F%7DgwtpgNoPrimaryKey.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  targetNamespace="https://gwt-grid2.appianci.net/suite/types/"
  xmlns:tns="https://gwt-grid2.appianci.net/suite/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="gwtpgNoPrimaryKey">
    <xsd:sequence>
      <xsd:element name="FirstName" nillable="true" type="xsd:string"/>
      <xsd:element name="LastName" nillable="true" type="xsd:string"/>
      <xsd:element name="Date" nillable="true" type="xsd:date"/>
      <xsd:element name="UserName" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
